<p>Automatically replace vanilla Dwemer steam stacks with OAAB ones that use the lightning effect. Compatible with everything.</p>
<p class="bold center">Requires OpenMW 0.49 or newer and <a href="https://www.nexusmods.com/morrowind/mods/49042">OAAB Data</a>!</p>
<div class="center"><img src="/img/dwemer-lightning-rods-for-openmw-lua.gif" title="A short gif of the mod in action" /></div>
<h4 id="credits">Credits:</h4>
<p>
  <strong><a href="https://www.nexusmods.com/morrowind/mods/50236">Dwemer Lightning Rods</a> was created by</strong> Melchior Dahrk
</p>
<p>
  <strong>OpenMW-Lua script by:</strong>
</p>
<ul>
  <li>
    johnnyhostile
  </li>
  <li>
    zackhasacat
  </li>
  <li>
    ezze
  </li>
</ul>
<h4 id="install">Installation:</h4>
<ol>
  <li>
    <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/dwemer-lightning-rods-for-openmw-lua/">this URL</a>
    </p>
  </li>
  <li>
    <p>
      Extract the zip to a location of your choosing, examples below:
    </p>
    <pre><code> # Windows
 C:\games\OpenMWMods\Architecture\dwemer-lightning-rods-for-openmw-lua

 # Linux
 /home/username/games/OpenMWMods/Architecture/dwemer-lightning-rods-for-openmw-lua

 # macOS
 /Users/username/games/OpenMWMods/Architecture/dwemer-lightning-rods-for-openmw-lua
    </code></pre>
  </li>
  <li>
    <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Architecture\dwemer-lightning-rods-for-openmw-lua"</code>)
    </p>
  </li>
  <li>
    <p>
      Add <code>content=Dwemer Lightning Rods.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
    </p>
  </li>
</ol>
<p>
  Note: Because the Ashlands, Molag Amur and Red Mountain regions (where a lot of dwemer ruins can be found) have no chance of thunderstorms in the vanilla game, you will only be able to experience active lightning rods there with weather affecting mods. I recommend <a href="https://www.nexusmods.com/morrowind/mods/52354">Solthas Blight Weather Pack</a>.
</p>
<p>
  Please also note that the original <a href="https://www.nexusmods.com/morrowind/mods/50236">Dwemer Lightning Rods</a> by Melchior Dahrk is not required when using this. If you have it loaded a warning will be printed to the log/console.
</p>
